@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightblue;
    width: 100vw;
    height: 100vh;
}

header{
     background-color: rgb(127, 163, 175);
     padding: 10px;
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
     align-items: center;
}

header > h1{
    color: white;
    flex: initial;
}

header > nav{
    display: flex;
}

header > nav  > a{
    background-color: rgb(136, 192, 211);
    text-decoration: none;
    color: white;
    margin: 3px;
    font-weight: bold;
    padding: 5px;
    border-radius: 2px;
    text-align: center;
}

header > nav  > a:hover{
    padding: 3px;
    background-color: rgb(66, 85, 92);
    cursor: pointer;
    transition-duration: 0.2s;
}


main{
     background-color: rgb(139, 209, 233);
     margin: 10px;
     border-radius: 5px;
     box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.911);
}

div{
    text-align: center;
    padding: 5px;
    
}