@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
}

header{
    background-color: lightblue;
}

header > h1{
    text-align: center;
}

menu ul{
    background-color: rgb(148, 186, 199);
    padding: 20px;
}

menu li{
    background-color: rgb(104, 131, 139);
    display: inline;
    padding: 10px;
}

article{
    width: 600px;
    margin: auto;
    display: block;
    color: black;
}
