@charset "UTF-8";   

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    
}

header{
    background-color: rgba(72, 95, 194, 0.801);
    padding: 10px;
    text-align: center;
}

h1{
    color: white;
    text-shadow: 1px 2px 2px  rgba(0, 0, 0, 0.884);
    font-size: 3em;
}

nav{
    background-color: rgba(72, 94, 194, 0.897);
    padding: 10px;
}

a{
    color: white;
    padding: 5px;
    background-color: rgba(72, 95, 194, 0.801);
    border-radius: 5px;
}

a:hover{
    cursor: pointer;
    background-color: rgba(72, 94, 194, 0.459);
}

#conteiner{
    display: grid;
    grid-template: repeat(5,100px)/ 80% 20%;

}

#exemplo{
    background-color: lightgray;
    width: 65vw;
    height: 500px;
    margin: 5px;
    padding: 10px;
    text-align: justify;
}

#publi{
    background-color: rgb(233, 233, 233);
    height: 500px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}


footer{
  background-color: rgba(72, 94, 194, 0.459);   
  padding: 10px;
  margin-top: 240px;
}

footer > p {
    line-height: 30px;
    width: 100%;
}