@charset "UTF-8";

@media screen and (min-width:768px){
    #hamburguer{
        display: none;
    }

    #itens{
        display: block !important;
    }
    menu > ul > li{
        display: inline-block;
    }

    main{
        width: 768px;
    }
}